@tailwind base;

@tailwind components;

@tailwind utilities;


button:focus, input:focus {
    @apply outline-none;
}

.chat-window {
    @apply h-auto rounded-t-xl bg-cultured-100 shadow w-80 absolute bottom-0 right-0;
}

.chat-header {
    @apply bg-viridiant-600 h-8 w-full flex rounded-t-xl shadow-md mb-4;
}

.chat-container {
    @apply h-100 flex w-full bg-cultured-100;
}

.chat-footer {
    @apply bg-viridiant-600 flex-row justify-center p-1 rounded-t-3xl w-full;
}

.chat-input {
    @apply px-2 py-1 box-border text-sm bg-cultured-100 border border-cultured-700 rounded-full w-full;
}

.btn {
    @apply py-1 px-3 m-2 rounded-full appearance-none;
}

.btn-viridiant {
    @apply text-cultured-100 bg-viridiant-600 border border-transparent;
}

.btn-viridiant:hover {
    @apply border border-viridiant-600 bg-cultured-100 text-viridiant-600;
}

.btn-viridiant-outline {
    @apply text-viridiant-600 border border-viridiant-600 bg-cultured-100;
}

.btn-viridiant-outline:hover {
    @apply bg-viridiant-600 text-cultured-100;
}

.btn-orange-peel {
    @apply text-cultured-100 bg-orange-peel-600 border border-transparent;
}

.btn-orange-peel:hover {
    @apply border border-orange-peel-600 bg-cultured-100 text-orange-peel-600;
}

.btn-orange-peel-outline {
    @apply text-orange-peel-600 border border-orange-peel-600 bg-cultured-100;
}

.btn-orange-peel-outline:hover {
    @apply bg-orange-peel-600 text-cultured-100;
}

.btn-onyx {
    @apply text-cultured-100 bg-onyx-600 border border-transparent;
}

.btn-onyx:hover {
    @apply border border-onyx-600 bg-cultured-100 text-onyx-600;
}

.btn-onyx-outline {
    @apply text-onyx-600 border border-onyx-600 bg-cultured-100;
}

.btn-onyx-outline:hover {
    @apply bg-onyx-600 text-cultured-100;
}

.nav-bar-li {
    @apply inline-flex;
}

.nav-bar-li a {
    @apply text-onyx-600 py-1 relative my-0 mx-1.5625;
}

.nav-bar-li a:hover {
    @apply transition duration-900;
}

.nav-bar-li a:after {
    content : '';
    @apply origin-1/2 transform -translate-x-1/2 scale-x-0 bg-viridiant-600 w-full h-0.1875 left-1/2 transition duration-250 bottom-0 absolute;
}

.nav-bar-li a:hover:after {
    @apply transform -translate-x-1/2 scale-x-100;
}

.search-bar {
    @apply bg-cultured-400 text-onyx-700 border border-onyx-200 rounded-full py-2 pl-10 pr-2 leading-tight;
}

.search-bar:focus {
    @apply bg-cultured-100 border-onyx-500 w-full;
}

.search-input {
    @apply px-2 py-2 box-border text-base bg-cultured-100 border border-cultured-700 rounded-l-full;
    transition: width 0.3s ease-in-out;
}

.search-input:focus {
    @apply w-full border-viridiant-600;
}

.search-glass {
    @apply bg-onyx-200 border border-onyx-200 rounded-r-full p-1 pr-3;
}

.smiley {
    @apply px-1 w-8;
}

.send {
    @apply bg-onyx-600 rounded-full h-8 w-10 flex justify-center items-center;
}

.user-picture {
    @apply px-4;
}

.user-name {
    @apply my-auto flex text-cultured-100 ;
}

.icon {
    @apply w-8 h-1.75 mx-auto my-auto relative;
}

.icon span {
    @apply justify-center items-center bg-viridiant-600 w-full h-0.1875 absolute transition duration-300;
}
.icon span:nth-child(1), .icon span:nth-child(2) {
    @apply z-1;
}
.icon span:nth-child(3), .icon span:nth-child(4) {
    @apply top-0.625;
}
.icon span:nth-child(5), .icon span:nth-child(6) {
    @apply top-1.25;
}
.icon.open span:nth-child(1), .icon.open span:nth-child(2), .icon.open span:nth-child(5), .icon.open span:nth-child(6) {
    @apply transform scale-50 z-1 opacity-0;
}
.icon.open span:nth-child(3) {
    @apply transform rotate-45;
}
.icon.open span:nth-child(4) {
    @apply transform -rotate-45;
}

.mobile-nav-list {
    @apply text-center list-none;
}

.bg-blur-3 {
    filter: blur(3px);
}

.bg-blur-5 {
    filter: blur(5px);
}
