.card {
    @apply w-auto bg-cultured-100 px-3;

    .card-title {
        @apply w-full h-18 p-2 border-b-0.0625 border-onyx-100 flex;
    }

    .card-body {
        @apply font-sans text-base font-normal;
    }

    .card-footer {
        @apply w-full h-10 flex justify-between items-center border-t-0.0625 border-onyx-100;

        & > * + * {
            border-left-width: 2px;
        }

        .card-link {
            @apply flex-1 flex justify-center items-center;

            a {
                @apply flex items-center;
            }

            svg {
                @apply h-5 w-auto inline-block;
            }
        }
    }

    .card-tags {
        @apply mt-3;

        .tag {
            @apply bg-onyx-100 rounded-full px-2 py-1 text-sm;
        }
    }
}
