// ******* //
// Nav Bar //
// ******* //

.nav-bar-li {
    @apply inline-flex font-semibold;

    a {
        @apply text-onyx-600 py-1 relative my-1 cursor-pointer;

        &:hover {
            @apply transition duration-900;
        }

        &:after {
            content : '';
            @apply origin-1/2 transform -translate-x-1/2 scale-x-0 bg-viridiant-600 w-full h-0.1875 left-1/2 transition duration-250 bottom-0 absolute;
        }

        &:hover:after {
            @apply transform -translate-x-1/2 scale-x-100;
        }
    }
}

/* Burger-Menu */

#nav-icon {
    @apply w-7 h-6;

    div {
        @apply transform duration-500 ease-in-out cursor-pointer;
        -webkit-tap-highlight-color: transparent;

        span {
            @apply block absolute h-0.1875 w-7 left-0 bg-viridiant-600 opacity-100 rounded-full transform duration-250 ease-in-out;
        }
    }
}

/* Icon */

#nav-icon div span:nth-child(1) {
    @apply top-0;
}

#nav-icon div span:nth-child(2),#nav-icon div span:nth-child(3) {
    @apply top-0.5625;
}

#nav-icon div span:nth-child(4) {
    @apply top-1.125;
}

#nav-icon div.open span:nth-child(1) {
    @apply w-0 left-4 top-0.5625;
}

#nav-icon div.open span:nth-child(2) {
    @apply rotate-45;
}

#nav-icon div.open span:nth-child(3) {
    @apply -rotate-45;
}

#nav-icon div.open span:nth-child(4) {
    @apply w-0 left-4 top-0.5625;
}

.tablet-nav-bar-list {
    @apply text-left list-none top-1/3 absolute transform duration-250 ease-in-out;

    li {
        @apply my-6;

        a {
            @apply flex font-semibold;
        }
    }
}

.mobile-nav-bar-list {
    @apply absolute px-8 w-full transform duration-300 ease-in-out h-auto bg-cultured-100 shadow;
}

.mobile-nav-bar-list-li {
    a {
        @apply flex py-3 w-full justify-center font-semibold;

        i {
            @apply w-5 h-5;
        }
    }

    @apply my-4 text-onyx-800 text-left;
}
